{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div {{ react_component('LoginPage', { action: apiLoginUri, redirectUri: redirectUri, csrfToken: csrf_token('authenticate') }) }}></div>
{% endblock %}